.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: grid;
    place-items: center;
}

.title {
    font-weight: bold;
    color: #ffffff;
    font-size: 4.5rem;
    position: absolute;
    z-index: 50;
    margin: 0;
    top: 2rem;
    transform: translateX(-50%);
    white-space: nowrap;
}

@media (min-width: 768px) {
    .title {
        font-size: 8rem;
    }
}

.backgroundLayer {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.foregroundLayer {
    position: absolute;
    inset: 0;
    z-index: 10;
}